.footer-box {
  height: 54px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #f7f9f9;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .footer-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &[data-active='true'] {
      background-color: #1d9bf0;
    }
  }
}
